{% extends 'base.html' %}

{% block content %}
    {% for toot in toots recursive%}
    <div class="toot">
        <div class="status">
            <div class="meta">
                {% if toot.is_reblog%}
                <small><span>转嘟了<i class="fa-solid fa-retweet"></i></span></small>
                {% endif %}
                <strong><span class ="username">{{ toot.acct }}</span></strong>
                <a href="{{ toot.url }}" target="_blank"
                    rel="noopener noreferrer">
                    <span class="time">
                {% if toot.visibility == "public"%}
                <span class="visibility-icon"><i class="fa-solid fa-earth-americas fa-globle"></i></span>
                {% elif toot.visibility == "unlisted"%}
                <span class="visibility-icon"><i class="fa-solid fa-lock-open fa-unlock"></i></span>
                {% elif toot.visibility == "private"%}
                <span class="visibility-icon"><i class="fa-solid fa-lock"></i></span>
                {% elif toot.visibility == "direct"%}
                <span class="visibility-icon"><i class="fa-solid fa-envelope fa-at"></i></span>
                {% endif %}
                <time>{{ toot.created_at }}
                {% if toot.edited_at != None %}
                    <strong>*</strong>
                {% endif %}
                </time></span></a>
            </div>
            <div class="content">
                {% if toot.spoiler_text != "" %}
                <strong><i>CW: {{toot.spoiler_text|safe}}</i></strong>
                {% endif %}
                {{ toot.content|safe }}
            </div>

            <div class="toot-media">
            <div class="row">
        {% if toot.medias %}

            {% for media in toot.medias%}
                {% if media.type == 'image' %}
            <div class="col-lg-6">
                <a class="media-gallery__item-thumbnail"
                    href="{{ media.url }}" target="_blank" rel="noopener noreferrer" data-lightbox="{{ toot.id }}" data-title="{{ media.description }}">
                    <img src="{{ media.url }}" class="w-100 shadow-1-strong rounded" alt="{{ media.description }}"/></a>
            </div>
                {% endif %}
            {% endfor%}
        {% endif %}
            </div>
            </div>
            <div class="icon-bar">
                <div class="info-bar">
                {% if toot.replies_count > 1 %}
                <span><i class="fa-solid fa-reply-all"></i>{{ toot.replies_count }}</span>
                {% else %}
                <span><i class="fa-solid fa-reply"></i>{{ toot.replies_count }}</span>
                {% endif %}

                {% if toot.reblogged %}
                <span><i class="fa-solid fa-arrow-rotate-right"></i>{{ toot.reblogs_count}}</span>
                {% else %}
                <span><i class="fa-solid fa-retweet"></i></i>{{ toot.reblogs_count}}</span>
                {% endif %}

                {% if toot.favourited %}
                <span><i class="fa-solid fa-star"></i>{{ toot.favourites_count }}</span>
                {% else %}
                <span><i class="fa-regular fa-star"></i>{{ toot.favourites_count }}</span>
                {% endif %}

                {% if toot.bookmarked %}
                <span><i class="fa-solid fa-bookmark"></i></span>
                {% else %}
                <span><i class="fa-regular fa-bookmark"></i></span>
                {% endif %}
                </div>
                <div class="action-bar">
                    {% if toot.is_myself %}
                    <span><i class="fa-solid fa-satellite-dish"></i><a href="{{ url_for('grab', toot_id=toot.id) }}"
                            >抓取回复</a></span>
                    {% endif %}
                    <span><i class="fa-solid fa-up-right-and-down-left-from-center"></i><a
                            href="{{ url_for('context', toot_id=toot.id) }}" >上下文</a></span>
                </div>
                </div>
                </div>
                </div>
                    {%- if toot.reply -%}
                    <div class="reply">{{ loop(toot.reply) }}</div>
            {%- endif %}
        {% endfor %}

                <div class="pagination d-flex justify-content-center">
    {% if pagination %}
    {% if pagination.has_prev %}
        <span>
            <a class='page-number' href="{{ url_for(path.path, page=pagination.prev_num, **path.args) }}">
                {{ '<<<' }}
            </a>
        </span>
    {% endif %}

    {% for number in pagination.iter_pages() %}
        {% if number == None %}
            <span>...</span>
        {% elif pagination.page != number %}
            <span>
                    <a class='page-number'
                        href="{{ url_for(path.path, page=number, **path.args) }}">
                    {{ number }}
                    </a>
            </span>
        {% else %}
            <span class='current-page-number'>{{ number }}</span>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        <span>
            <a class='page-number' href="{{ url_for(path.path, page=pagination.next_num, **path.args) }}">
                {{ '>>>' }}
            </a>
            </span>
            {% endif %}
            </div>
    {% endif %}
            {% endblock %}
