[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mastodon.py" = "*"
flask = "*"
flask-sqlalchemy = ">3.0.0"
python-dotenv = "*"
ptvsd = "*"
debugpy = "*"
tenacity = "*"

[dev-packages]

[requires]
python_version = "3.7.14"
